@font-face {
    font-family: 'kaisen';
    src: url('./../assets/fonts/Kaizen.otf');
}
.navbar {
    height: 70px;
    width: 100%;
    background: white;
    border-bottom: 1px solid rgb(209, 209, 209);
    z-index: 1000;
}
.brand {
    float: left;
    margin-top: 23px;
    margin-left: 15%;
    font-family: 'kaisen';
    font-size: 24px;
}
ul {
    float: right;
    margin-right: 20%;
}
li {
    display: inline;
    text-decoration: none;
    font-size: 30px;
    margin-left: 40px;
}
li a {
    text-decoration: none;
    color: black;
}
.prof {
    position: absolute;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    display: inline-block;
    background: #000;

}
.searchbar {
    margin-left: 20%;
    width: 15%;
    height: 30px;
    margin-top: 20px;
    border: none;
    background: rgb(231, 231, 231);
    padding-left: 20px;
    border-radius: 5px;



}
.searchbar:focus {
    outline: none;
}